@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0px;

  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-weight: bold;

  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @background;
  color: @foregrund;
  border: 1px solid @color4;
  border-radius: 12px;
}

tooltip label {
  color: @foregrund;
  padding: 6px;
}

#custom-workspaces {
  background-color: @color0;
  opacity: 0.8;
  padding: 5px 3px;
  margin: 0 0 0 12px;
  border-radius: 18px;
  border: 2px solid @color4;
  color: @foregrund;
  transition: all 0.2s ease-in-out;
}

#workspaces {
  background-color: @color0;
  opacity: 0.8;
  padding: 5px 3px;
  margin: 0 0 0 12px;
  border-radius: 18px;
  border: 1px solid @color4;
  color: @foregrund;

}

#workspaces buttons {
  padding: 0px 6px;
  margin: 0 3px;
  border-radius: 50px;
  color: transparent;
  background-color: @color1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @color10;
  color: @foregrund;
  border-radius: 16px;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}

#workspaces button:hover {
  background-color: @color16;
  color: @foregrund;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#custom-powerbtn,
#clock,
#custom-tray {
  background-color: @background;
  padding: 0 10px;
  margin: 0;
  /* Ingen marginal mellan modulerna */
  border: none;
  border-radius: 0;
}

.modules-center {
  background-color: @background;
  opacity: 0.8;
  margin: 0 0px 0 0;
  padding: 0 10px;
  border-radius: 50px;
  border: 2px solid @color4;
}



#custom-spell-check,
#pulseaudio,
#network,
#battery,
#custom-bluetooth,
#custom-ram,
#cpu {
  background-color: @background;
  padding: 0 10px;
  margin: 0;
  /* Ingen marginal mellan modulerna */
  border: none;
  border-radius: 0;
}

.modules-right {
  background-color: @background;
  opacity: 0.8;
  margin: 0 12px 0 0;
  padding: 0 10px;
  border-radius: 50px;
  border: 2px solid @color4;

}

#clock {
  color: @foregrund;
}

#custom-powerbtn {
  color: @color4;
}

#custom-tray {
  color: @color4
}

#custom-spell-check {
  color: @color4;
}

#pulseaudio {
  color: @color5;
}

#network {
  color: @color4;
}


#custom-bluetooth.off {
  color: @color5;
}

#custom-bluetooth.on {
  color: #dddddd;
}

#custom-bluetooth.connected {
  color: #7dd6ff;
}


#battery {
  color: @color4;
}

#battery.warning {
  background-color: #ff0000;
  /* Orange */
  color: white;
}

#battery.charging {
  color: #a6e22e;
  /* Grön text */
  background-color: @background;
}

#custom-ram {
  color: @color5;
}

#cpu {
  color: @color4;
}
